<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sh.entertainment.fastcharge">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POWER_SAVER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name="com.sh.entertainment.fastcharge.common.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_app_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Google admob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_app_id" />
        <!-- End of Google admob -->

        <!-- Firebase -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <!-- End of Firebase -->

        <!-- Activity -->
        <activity
            android:name="com.sh.entertainment.fastcharge.ui.splash.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.intro.IntroSliderActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/IntroTheme" />

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.sh.entertainment.fastcharge.ui.main.ActionHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.settings.SettingsActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.boresult.OptimizationResultActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- android:theme="@style/BoResultTheme" />-->

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.boconfirmation.OptimizationConfirmActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/BoConfirmationTheme" />

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.info.InfoActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.chargehistory.ChargeHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.cool.CoolerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.sh.entertainment.fastcharge.ui.optimize.OptimizeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.booster.BoosterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.battery.BatteryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <!-- End of Activity -->

        <!-- Receivers -->
        <receiver
            android:name="com.sh.entertainment.fastcharge.ui.home.PowerConnectionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.sh.entertainment.fastcharge.ui.home.PowerRestarterReceiver"
            android:exported="false" />

        <receiver
            android:name="com.sh.entertainment.fastcharge.ui.home.PowerBooterReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- End of Receivers -->

        <!-- Services -->
        <service
            android:name="com.sh.entertainment.fastcharge.ui.home.PowerRestarterService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.sh.entertainment.fastcharge.ui.home.PowerConnectionService"
            android:description="@string/desc_power_connection_service"
            android:exported="false" />
        <!-- End of Service -->
    </application>

</manifest>